@tailwind base;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4, .heading-1, .heading-2, .heading-3, .heading-4 {
        @apply text-coolGray-800;
    }

    h1, .heading-1 {
        @apply text-4xl md:text-5xl mb-5;
    }

    h2, .heading-2 {
        @apply text-2xl md:text-3xl mb-5;
    }

    h3, .heading-3 {
        @apply text-xl md:text-2xl mb-4;
    }

    h4, .heading-4 {
        @apply text-lg md:text-xl mb-2;
    }
}

.text-accent {
    @apply  bg-clip-text text-transparent bg-gradient-to-r from-lightBlue-600 to-blue-700;
}

.text-with-links a,
a.text-link {
    @apply text-blue-600 hover:text-blue-800 focus:text-blue-800 hover:underline focus:underline;
}

.rich-text {
    @apply text-coolGray-700;
}
.rich-text ul,
ul.rich-text {
    @apply list-disc list-outside mb-5 pl-5;
}

.rich-text p,
p.rich-text {
    @apply mb-5;
}

.no-paragraph p,
.no-paragraph ul,
p.no-paragraph,
ul.no-paragraph {
    @apply mb-0;
}

/* Syntax Highlighting */

div.highlight {
   @apply p-2 mb-5 rounded-md overflow-x-scroll;
}

.highlight, .highlight * { font-family: 'JetBrains Mono', 'Roboto Mono', monospace; }
.highlight { border: none; }

/* Site Container */

.container {
    @apply w-full max-w-screen-xl px-4;
}

.container-full {
    @apply w-full max-w-screen-xl;
}

/* Grids */

.grid-base {
    @apply flex flex-wrap -ml-8 xl:-ml-10 content-start;
}

.grid-masonry {
    @apply items-start;
}

.grid-item {
    @apply pl-8 pb-8 xl:pl-10 xl:pb-10;
}

/* Card */

.card {
    @apply shadow-card bg-white;
}

.card-hover {
  @apply hover:shadow-card-elevated focus:shadow-card-elevated transform hover:scale-101 focus:scale-101 transition-all;
}

.card-rounded {
    @apply rounded-lg;
}

/* Icons */
.uk-icon,
.uk-icon [fill*='#'] {
    fill: currentColor;
}
.uk-icon [stroke*='#'] {
    stroke: currentColor;
}

/* Slideshow (from UIkit) */
.uk-slideshow-items {
    @apply relative z-0 overflow-hidden;
    -webkit-touch-callout: none;
}
.uk-slideshow-items > * {
    @apply absolute top-0 left-0 right-0 bottom-0 overflow-hidden;
    will-change: transform, opacity;
    touch-action: pan-y;
}
.uk-slideshow-items > :focus {
    @apply outline-none;
}
.uk-slideshow-items > :not(.uk-active) {
    @apply hidden;
}
