---
permalink: /about
title: Über mich
---

<h2>Ausbildung</h2>

<table class="uk-table">
    {% for education in site.data.about.education %}
    <tr>
        <td class="uk-width-1-6">{{education.date}}</td>
        <td><a href="{{education.link}}" target="_blank" rel="noreferrer">{{education.school}}</a><br>
            {{education.branch}}<br>
            {% if education.graduation %}
            Abschluss: {{education.graduation}}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>


<h2>Berufserfahrung</h2>

<table class="uk-table">
    {% for work in site.data.about.work %}
    <tr>
        <td class="uk-width-1-6">{{work.date}}</td>
        <td><a href="{{work.link}}" target="_blank" rel="noreferrer">{{work.company}}</a><br>
            {{work.position}}<br>
            {{work.details}}
        </td>
    </tr>
    {% endfor %}
</table>

<h2>Zivildienst</h2>
<table class="uk-table">
    <tr>
        <td class="uk-width-1-6">{{site.data.about.civil.date}}</td>
        <td><a href="{{site.data.about.civil.link}}" target="_blank" rel="noreferrer">{{site.data.about.civil.company}}</a></td>
    </tr>
</table>

<h2>Hobbies</h2>
<ul>
    {% for hobby in site.data.about.hobbies %}
    <li>{{hobby}}</li>
    {% endfor %}
</ul>

<h2>Ehrenamtliche Tätigkeiten und Mitgliedschaften</h2>

<table class="uk-table">
    {% for voluntary in site.data.about.voluntary %}
    <tr>
        <td class="uk-width-1-6">{{voluntary.date}}</td>
        <td><a href="{{voluntary.link}}" target="_blank" rel="noreferrer">{{voluntary.organization}}</a><br>
            {{voluntary.position}}<br>
            {{voluntary.details}}
        </td>
    </tr>
    {% endfor %}
</table>