---
permalink: /projects
title: Projekte
---

<div class="flex flex-wrap -ml-10">
    {% assign projects = site.projects | sort: 'date' | reverse %}
    {% for project in projects %}
    <div class="w-1/3 pl-10">
        <a class="block shadow-card hover:shadow-card-elevated transition-shadow" href="{{project.url}}">
            <img src="/images/{{ project.thumbnail }}" alt="{{ project.title }}">
            <hr>
            <div class="p-8">
                <h3 class="mb-0">{{project.title}}</h3>
                {% if project.subtitle %}
                <p class="mt-5">{{ project.subtitle }}</p>
                {% endif %}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
