<!DOCTYPE html>
<html lang="en" class="h-full bg-gradient-to-r from-sky-700 to-blue-900 from-sky-700 sm:overflow-auto ">
<head>
    <title>Stefan Schöberl
        {% if title %}
        &vert; {{ title }}
        {% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="theme-color" content="#195096">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Stefan Schöberl - Software Engineer">
    {% if noindex %}
    <meta name="robots" content="noindex, follow">
    {% else %}
    <meta name="robots" content="index, follow">
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/uikit.min.js" defer></script>
    <script src="/js/menu.js" defer></script>
</head>
<body class="flex flex-col h-full">

<div class="grow shrink-0 bg-slate-50">
    {% include "partials/navigation.html" %}
    <main class="container mx-auto py-7 {% if richtext %} rich-text text-with-links {% endif %}{% if mainClasses %} {{ mainClasses }} {% endif %}"> <!-- shrink-0 to fix Safari flexbox issue -->
    {{ content | safe }}
    </main>
</div>
{% include "partials/footer.html" %}
</body>
</html>
