<header class="container mx-auto">
    <nav class="flex flex-row uppercase">
        {% for item in site.data.navigation %}
            {% if page.url == item.link %}
                {% assign style="text-black" %}
            {% else %}
                {% assign style="text-gray-500" %}
            {% endif %}
            <a href="{{ item.link }}" class="px-5 pt-6 pb-3 border-transparent hover:border-lightBlue-600 border-b-2 {{style}}">{{item.name}}</a>
        {% endfor %}
    </nav>
</header>
