<footer class="bg-gradient-to-r from-sky-700 to-blue-900">
    <div class="container text-white mx-auto flex flex-col sm:flex-row flex-wrap justify-between items-center">
        <p class="my-4">&copy; Stefan Schöberl 2023</p>
        <p class="grow"></p>
        <p class="mb-4 sm:my-4 flex flex-row sm:mr-7 items-center">
            {% for contact in global.contact %}
            <a class="mx-3 border-2 rounded-full border-transparent hover:border-white focus:border-white hover:border-white flex items-center justify-center w-12 h-12" href="{{ contact.url }}" title="{{ contact.name }}" target="_blank" rel="noreferrer">
                    <i class="{{ contact.icon }} text-2xl"></i>
            </a>
            {% endfor %}
        </p>
        <a class="mb-4 sm:my-4 hover:underline focus:underline" href="/imprint">Impressum</a>
    </div>
</footer>
