<!DOCTYPE html>
<html lang="de" class="h-full bg-blueGray-50 sm:overflow-auto">
<head>
    <title>Stefan Schöberl
        {% if page.title %}
        &vert; {{page.title}}
        {% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Stefan Schöberl - Software Developer">
    {% if page.url == '/' %}
    <meta name="robots" content="index, nofollow">
    {% else %}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/uikit.min.js"></script>
    <script src="/js/menu.js"></script>
</head>
<body class="flex flex-col h-full">
{% include navigation.html %}
<main class="container mx-auto flex-grow flex-shrink-0 py-7 {% if page.richtext %} rich-text text-with-links {% endif %}{% if layout.mainClasses %} {{ layout.mainClasses }} {% endif %}"> <!-- flex-shrink-0 to fix Safari flexbox issue -->
{{ content }}
</main>
{% include footer.html %}
</body>
</html>
