---
layout: default
---

<div class="relative">
    <h1 class="lg:mr-110"><span class="text-accent">{{ page.title }}</span></h1>
    <div class="lg:absolute lg:top-0 lg:right-0 lg:w-100 card card-rounded lg:overflow-hidden mb-5">
        <img src="/images/{{ page.thumbnail }}" alt="{{ page.title }}">
        <hr>
        <div class="p-8">
            {% if page.subtitle %}
                <p class="heading-3">{{ page.subtitle }}</p>
            {% endif %}
            <p class="rich-text">
                {% assign m = page.date | date: "%-m" %}
                {% case m %}
                    {% when '1' %}Januar
                    {% when '2' %}Februar
                    {% when '3' %}M&auml;rz
                    {% when '4' %}April
                    {% when '5' %}Mai
                    {% when '6' %}Juni
                    {% when '7' %}Juli
                    {% when '8' %}August
                    {% when '9' %}September
                    {% when '10' %}Oktober
                    {% when '11' %}November
                    {% when '12' %}Dezember
                {% endcase %}
                {{ page.date | date: "%Y" }}
            </p>
            {% for link in page.links %}
                <a class="block rounded bg-lightBlue-600 text-white text-center py-2 mb-2 hover:bg-lightBlue-800 focus:bg-lightBlue-800" href="{{ link.url }}" target="_blank" rel="noreferrer">{{ link.name }}</a>
            {% endfor %}
            {% if page.technologies %}
                <p class="heading-4 mt-5">Technologien</p>
                <ul class="rich-text no-paragraph">
                    {% for technology in page.technologies %}
                        <li>{{ technology }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="rich-text text-with-links lg:mr-110">{{ content }}</div>
</div>
