---
layout: layouts/page
---
<div class="text-center mb-9">
    <img class="mx-auto mb-4 rounded-full" width="220px" height="220px" src="/images/me.jpg" alt="Profilfoto Stefan Schöberl">
    <h1 class="mb-0 text-5xl"><span class="text-accent">Stefan Schöberl</span></h1>
    <p class="text-2xl tracking-2xl text-zinc-500">Software Engineer</p>
</div>

<h2>Aktuelle Projekte</h2>

<div class="grid-base items-stretch">
    {% set projects = collections.projects | sort(true, false, 'date') %}
    {% for project in projects %}
        {% if loop.index < 3 %}
        <div class="grid-item w-full sm:w-1/2 lg:w-1/3">
            {% include "partials/project-card.html" %}
        </div>
        {% endif %}
    {% endfor %}

    <div class="grid-item w-full lg:w-1/3">
        <a class="text-link text-xl p-8 h-full text-center flex flex-col justify-around border-dashed border-2 border-zinc-300 rounded-lg" href="/projects">mehr Projekte ...</a>
    </div>
</div>
